body {
            font-family: Arial, sans-serif;
            background: #f2f4f8;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .otp-card {
            background: rgb(248, 209, 209);
            width: 300px;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }

        h2 {
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 15px;
            margin-left: -12px;
            border: none;
            border-radius: 8px;
        }

        #timer {
            font-size: 20px;
            color: green;
            margin-bottom: 15px;
        }

       .expired {
            color: red !important; 
            font-weight: bold;
        }

        button {
            padding: 10px;
            width: 100%;
            border: none;
            background: #3498db;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:disabled {
            background: #aaa;
            cursor: not-allowed;
        }